@import url("https://fonts.googleapis.com/css2?family=Open+sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
*  {
  box-sizing: border-box;
  margin: 0px;
  font-size: 16px;
  text-decoration: none;
}
body {
  font-family: "Open-Sans", sans-serif;
}
.card-title {
font-size: 3.125rem;
margin-bottom: 0,5rem;
font-weight: 600;
align-items: center;
}

.card-subtitle {
font-size: 1.625rem ;
font-weight: 400;
}
.overlay {
  z-index: -1;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 60%;
  position: absolute;
  top: 0;
}
/* banner wrap */
.banner-wrap  { 
  background-image: url(assests/nextfilx.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;


}
.banner-wrap::after {
position:absolute;
top:0;
left:0;
height: 100%;
width: 100%;
background-color: black ;
opacity: 0.4;
z-index:-10;
}

h1 {
  font-size: 3.2rem;
  color: white;
}

/* navbar */
.navbar {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  margin: 0px 45px;
  padding-top: 45px;
}
.navbar > img {
  height: 32px;
}
.navbar > a {
  padding: 7px 17px;
  color: white;
  background: red;
  text-decoration: none;
  border-radius: 3px;
} 

/* banner container */
.banner-container {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
}

.info-container {
  background: black;
  color: white;
  display: flex;
}

/* footer section */
.footer {
  background: black;
}
.footer-items {
  margin: 0 47.5px;
  padding: 70px 45px;
}
.footer-top {
  margin-bottom: 30px;
}
.footer ul li,
.questions-title {
  color: #757575;
}
.footer ul li:hover {
  text-decoration: underline;
  cursor: pointer;
}
.questions-title:hover {
  text-decoration: underline;
  cursor: pointer;
}
.footer-links {
  list-style-type: none;
  columns: 4;
  padding: 0;
  font-size: 13px;
}

.footer-links li {
font-size: 13px;
line-height:2;
}

.tv-container{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

.language {
  height: 53px;
  width: 180px;
  color: #999999;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 1px solid #999999;
  padding: 0 10px;
  margin-top: 30px;
  margin-bottom:
  }




.language select {
  padding: 10px;
  width: 100%;
  border: none;
  appearance: none;
  background: black;
  color: #999999;
  background: url(dropdown.png) no-repeat 100%;
  float:right;
  justify-content: center;

}

.language01{
display: flex;
font-display: flex;

}

.footer-country {
font-size: 13px;
margin-top: 24px;
color:#757575;


}

.tv-container img {
  z-index: 1;
}
.tv-container video {
  position: absolute;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

/* get started form and button */

.get-started-form{
height: 70px;
display: flex;
}

.get-started-form input{
  padding: 10px 10px 0;
  width: 100%;
  min-height: 60px;
  height:80%;
  padding-left: 10px;
  outline: width 80px;
}


.get-started-form button {
  background-color: red;
  color: white;
  height: 80%;
  font-size:1.625rem;
  border: none;
  padding: 0,26px;
  border-left: 1px solid;
}

email-form-title  {
font-size:1.2rem;
font-weight: 400;
padding-bottom: 20px;
margin:1rem;
}

.test {
  display: none;
}


